.question {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  row-gap: 6px;
  padding: 0px 8px;
  cursor: pointer;
}

.question__info {
  display: flex;
  flex-direction: column;
}

.question__title {
  color: var(--primary-btn-background-color);
}

.question_more-info {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
